<div *ngIf="image" class="image-edit">
    <div>
        <img [src]="image.url" />
    </div>
    <div>
        <form>
            <div class="row expanded">
                <div class="medium-12 columns">
                    <label>
                        Title
                        <input #titleInput type="text" [ngModel]="image.title" (ngModelChange)="updateTitle(titleInput.value)">
                    </label>
                </div>
            </div>
            <div class="row expanded">
                <div class="medium-12 columns">
                    <strong>Taken:</strong>
                    <span>{{image.details.dateTaken | date:'medium' }}</span>
                    <strong>Specs:</strong>
                    <span>
                        {{image.details.width | number }} x {{image.details.height | number }},
                        {{image.details.size | number }} bytes
                    </span>
                </div>
            </div>
            <div class="row expanded">
                <div class="medium-12 columns">
                    <tag-selector
                            [tagsList]="tagsList"
                            [selectedTags]="image.details.tags"
                            (selectedTagsChanged)="onTagsChanged($event)"></tag-selector>
                </div>
            </div>
        </form>
    </div>
</div>
