
@import 'foundation';
@include foundation-everything;

$site-bk-color: #f0fff6;

body {
  background: $site-bk-color;
  background: linear-gradient(to left, $site-bk-color 0%, lighten($site-bk-color,40%) 100%);
}

.initial-loading-indicator {

  padding: 8rem;

  > svg {

    @keyframes opacity-values {
      0% {
        opacity: 0.2;
        height: 10px;
        y: 10;
      }
      50% {
        opacity: 1;
        height: 20px;
        y: 5;
      }
      100% {
        opacity: 0.2;
        height: 10px;
        y: 10;
      }
    }

    > rect:nth-of-type(1) {
      animation: opacity-values 0.8s 0.0s ease infinite;
    }
    > rect:nth-of-type(2) {
      animation: opacity-values 0.8s 0.1s ease infinite;
    }
    > rect:nth-of-type(3) {
      animation: opacity-values 0.8s 0.2s ease infinite;
    }
  }

  > span {
    font-style: italic;
    font-size: 1.2rem;
  }
}

