<div class="top-bar" init-zurb>
    <div class="top-bar-left">
        <ul class="menu">
            <li class="menu-text">
                Images Demo
            </li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="dropdown menu" data-dropdown-menu>
            <li>
                <loading-indicator [isLoading]="isLoading" [loadingMessage]="loadingMessage"></loading-indicator>
            </li>
            <li>
                <a>Views</a>
                <ul class="menu vertical">
                    <li><a [routerLink]="['/Images', 'List']">Image List</a></li>
                    <li><a [routerLink]="['/Images', 'Groups']">Image Groups</a></li>
                    <li><a [routerLink]="['/Images', 'Edit', {id: null}]">Image Edit</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>