<div class="top-bar">
    <div class="top-bar-left">
        <ul class="menu">
            <li class="menu-text">
                Images Demo
            </li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="dropdown menu" data-dropdown-menu>
            <li>
                <loading-indicator [isLoading]="isLoading" [loadingMessage]="loadingMessage"></loading-indicator>
            </li>
            <li>
                <a>Layouts</a>
                <ul class="menu vertical">
                    <li><a [routerLink]="['/Images', 'List']">List</a></li>
                    <li><a [routerLink]="['/Images', 'Groups']">List/Grouped</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>