<div *ngIf="image" class="image-view">
    <div>
        <img [src]="image.url" />
    </div>
    <div>
        <div class="row expanded">
            <div class="small-12 columns">
                <h4>{{image.details.title}}</h4>
                <p>
                    <strong>Taken:</strong>
                    <span>{{image.details.dateTaken | date:'medium' }}</span>
                    <strong>Specs:</strong>
            <span>
                {{image.details.width | number }} x {{image.details.height | number }},
                {{image.details.size | number }} bytes
            </span>
                    <strong>Tags:</strong>
                    <span>{{image.details.tags}}</span>
                </p>
            </div>
        </div>
    </div>
</div>
