<div class="ui borderless menu">
    <div class="item">
        Images Demo
    </div>
    <div class="right menu">
        <div class="item" *ngIf="isLoading">
            <loading-indicator [loadingMessage]="loadingMessage"></loading-indicator>
        </div>
        <div class="ui dropdown item">
            Views
            <i class="dropdown icon"></i>
            <div class="menu">
                <div class="item">
                    <a [routerLink]="['/images', 'list']">Image List</a>
                </div>
                <div class="item">
                    <a [routerLink]="['/images', 'groups']">Image Groups</a>
                </div>
                <div class="item">
                    <a [routerLink]="['/images', 'edit', '*']">Image Edit</a>
                </div>
            </div>
        </div>
    </div>
</div>
