
svg {

    path, rect {
        fill: #00a1ff;
    }

    > rect:nth-of-type(1) {
        animation: opacity-values 0.8s 0.0s ease infinite;
    }
    > rect:nth-of-type(2) {
        animation: opacity-values 0.8s 0.1s ease infinite;
    }
    > rect:nth-of-type(3) {
        animation: opacity-values 0.8s 0.2s ease infinite;
    }
}

.loading-message {
    font-size: 0.8rem;
    font-style: italic;
}

@keyframes opacity-values {
    0% {
        opacity: 0.2;
        height: 10px;
        y: 10;
    }
    50% {
        opacity: 1;
        height: 20px;
        y: 5;
    }
    100% {
        opacity: 0.2;
        height: 10px;
        y: 10;
    }
}
