<div class="ui centered grid">
    <div class="twelve wide column">
        <div class="ui horizontal list">
            <div class="item" *ngFor="#tag of imageTags">
                <label>
                    <input #tagInput type="checkbox"
                           [ngModel]="tag.isSelected"
                           (ngModelChange)="toggleSelectedTag(tag.tag, tagInput.checked)">
                    {{tag.tag}}
                </label>
            </div>
        </div>
    </div>
    <div class="twelve wide column">
        <button class="ui button" (click)="selectAll()">Select All</button>
        <button class="ui button" (click)="selectNone()">Select None</button>
    </div>
</div>
