<div class="row">
    <div class="small-12 columns">
        <label *ngFor="#tag of imageTags">
            <input #tagInput type="checkbox"
                   [ngModel]="tag.isSelected"
                   (ngModelChange)="toggleSelectedTag(tag.tag, tagInput.checked)">
            {{tag.tag}}
        </label>
    </div>
</div>
<div class="row">
    <div class="small-12 columns">
        <button class="small button" (click)="selectAll()">Select All</button>
        <button class="small button" (click)="selectNone()">Select None</button>
    </div>
</div>