<div class="root-layout">
    <div>
        <title-bar [isLoading]="isLoading"></title-bar>
    </div>
    <div>
        <div>
            <image-group-list></image-group-list>
        </div>
        <div>
            <image-detail-list></image-detail-list>
        </div>
    </div>
    <div>
        <div class="row expanded">
            <div class="small-6 columns">
                Image
            </div>
            <div class="small-6 columms">
                Details
            </div>
        </div>
    </div>
</div>
