
$site-bk-color: #f0fff6;

body {
  background: $site-bk-color;
  background: linear-gradient(to left, $site-bk-color 0%, lighten($site-bk-color,40%) 100%);
}

.initial-load {
  margin-top: 10rem;
  .ui.segment {
    height: 10rem;
  }
}
